In [1]:
import requests
import pandas as pd,numpy as np
from bs4 import BeautifulSoup

In [2]:
url='https://indiancompanies.in/top-100-companies-by-market-cap-in-india/'
response=requests.get(url)
print(response)

<Response [200]>

In [3]:
company=BeautifulSoup(response.content,'html.parser')

In [4]:
company.prettify
Sr_no=[]
Company_name=[]
Market_cap=[]

In [5]:
rows=company.select('table tr')[1:]
for row in rows:
    columns=row.find_all('td')
    Srno=columns[0].text
    company=columns[1].text
    market=columns[2].text.strip()
    Sr_no.append(Srno)
    Company_name.append(company)
    Market_cap.append(market)

In [6]:
data={"Sr_no":Sr_no,'Company_name':Company_name,'Market_cap':Market_cap}

In [7]:
indiancompany=pd.DataFrame(data)

In [8]:
indiancompany

     Sr_no         Company_name               Market_cap
0    S.No.    Company Name Name               Market Cap
1        1  Reliance Industries    ₹           16,26,036
2        2                  TCS    ₹           13,25,131
3        3            HDFC Bank   ₹             8,30,832
4        4              Infosys   ₹             7,45,368
..     ...                  ...                      ...
96      96          PB Fintech.  ₹                49,533
97      97        Hero Motocorp  ₹                49,329
98      98                Bosch  ₹                48,689
99      99           JSW Energy  ₹                48,491
100    100       Jubilant Food.  ₹                48,455

[101 rows x 3 columns]

In [10]:
indiancompany.to_csv('indiancompany.csv')